<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SM\Shipping\Api\OutletManagementInterface" type="SM\Shipping\Model\OutletManagement" />

    <!--  data interface  -->
    <preference for="SM\Shipping\Api\Data\ShippingCarrierAdditionalDataInterface" type="SM\Shipping\Model\ShippingCarrierAdditionalData" />

    <!--  plugins  -->
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="inpost-address" type="SM\Shipping\Plugin\Quote\SaveOutletPlugin" sortOrder="1" disabled="false"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\AbstractOrder">
        <plugin name="addOutletToOrder" type="SM\Shipping\Block\Adminhtml\Order\Shipping\Information"/>
    </type>

    <type name="Magecomp\Customshipping\Plugin\Quote\Address\Total\ShippingPlugin">
        <plugin name="connectpos-integrate-customshipping" type="SM\Shipping\Plugin\CustomShipping" sortOrder="1" disabled="false"/>
    </type>
</config>
